{% raw %}name: CI

on:
  push:
    branches-ignore:
      - 'gh-readonly-queue/**' # don't run (again) when on these special branches created during merge groups; the `on: merge_group` already triggers it.
  merge_group:
  pull_request:

env:
  PYTHONUNBUFFERED: True
  PRE_COMMIT_HOME: ${{ github.workspace }}/.precommit_cache

jobs:
  get-values:
    uses: ./.github/workflows/get-values.yaml
    permissions:
      contents: write # needed for updating dependabot branches

  check-skip-duplicate:
    runs-on: {% endraw %}{{ gha_linux_runner }}{% raw %}
    permissions:
      contents: read
      pull-requests: read # needed to check if PR exists for current branch
    outputs:
      should-run: ${{ steps.check.outputs.should-run }}
    steps:
      - name: Checkout code
        uses: actions/checkout@{% endraw %}{{ gha_checkout }}{% raw %}
        with:
          persist-credentials: false
      - id: check
        uses: ./.github/actions/check-skip-duplicates

  pre-commit:
    needs:
      - get-values
      - check-skip-duplicate
    if: needs.check-skip-duplicate.outputs.should-run == 'true'
    uses: ./.github/workflows/pre-commit.yaml
    permissions:
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
      contents: write # needed for mutex
    with:
      python-version: {% endraw %}{{ python_version }}{% raw %}

  ephemeral-test:
    uses: ./.github/workflows/pulumi-aws.yml
    needs:
      - pre-commit
      - get-values
      - check-skip-duplicate
    if: needs.check-skip-duplicate.outputs.should-run == 'true' && (github.event_name == 'pull_request' || github.event_name == 'merge_group')

    permissions:
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
      contents: write # needed for mutex
      pull-requests: write # needed to potentially post the preview on the PR as a comment
      actions: read # needed to fetch job URL for PR comments when output is too long
    with:
      AWS_REGION: {% endraw %}{{ aws_region_for_stack }}{% raw %}
      PULUMI_STACK_NAME: test-${{ needs.get-values.outputs.pr-short-num }}
      PYTHON_VERSION: {% endraw %}{{ python_version }}{% raw %}
      PROJECT_DIR: ./infrastructure
      DEPLOY_SCRIPT_MODULE_NAME: infra
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--{% endraw %}{{ repo_name }}{% raw %}
      PULUMI_UP_ROLE_NAME: InfraDeploy--{% endraw %}{{ repo_name }}{% raw %}
      PULUMI_UP: true
      PULUMI_DESTROY: true
      AWS_ACCOUNT_ID: "{% endraw %}{{ aws_test_account_id }}{% raw %}"

  pulumi-staging:
    uses: ./.github/workflows/pulumi-aws.yml
    needs:
      - pre-commit
      - check-skip-duplicate
    if: needs.check-skip-duplicate.outputs.should-run == 'true'
    permissions:
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
      contents: write # needed for mutex
      pull-requests: write # needed to potentially post the preview on the PR as a comment
      actions: read # needed to fetch job URL for PR comments when output is too long
    with:
      AWS_REGION: {% endraw %}{{ aws_region_for_stack }}{% raw %}
      PULUMI_STACK_NAME: staging
      PYTHON_VERSION: {% endraw %}{{ python_version }}{% raw %}
      PROJECT_DIR: ./infrastructure
      DEPLOY_SCRIPT_MODULE_NAME: infra
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--{% endraw %}{{ repo_name }}{% raw %}
      PULUMI_UP: ${{ github.ref == 'refs/heads/main' }}
      PULUMI_UP_ROLE_NAME: InfraDeploy--{% endraw %}{{ repo_name }}{% raw %}
      AWS_ACCOUNT_ID: "{% endraw %}{{ aws_staging_account_id }}{% raw %}"
      SHOW_PREVIEW_COMMENT_ON_PR: ${{ github.event_name == 'pull_request' }}

  pulumi-prod:
    uses: ./.github/workflows/pulumi-aws.yml
    needs:
      - pulumi-staging
      - check-skip-duplicate
    if: needs.check-skip-duplicate.outputs.should-run == 'true' && (github.event_name == 'pull_request' || github.event_name == 'merge_group' || github.ref == 'refs/heads/main')
    permissions:
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
      contents: write # needed for mutex
      pull-requests: write # needed to potentially post the preview on the PR as a comment
      actions: read # needed to fetch job URL for PR comments when output is too long
    with:
      AWS_REGION: {% endraw %}{{ aws_region_for_stack }}{% raw %}
      PULUMI_STACK_NAME: prod
      PYTHON_VERSION: {% endraw %}{{ python_version }}{% raw %}
      PROJECT_DIR: ./infrastructure
      DEPLOY_SCRIPT_MODULE_NAME: infra
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--{% endraw %}{{ repo_name }}{% raw %}
      PULUMI_UP: ${{ github.ref == 'refs/heads/main' }}
      PULUMI_UP_ROLE_NAME: InfraDeploy--{% endraw %}{{ repo_name }}{% raw %}
      AWS_ACCOUNT_ID: "{% endraw %}{{ aws_production_account_id }}{% raw %}"
      SHOW_PREVIEW_COMMENT_ON_PR: ${{ github.event_name == 'pull_request' }}

  workflow-summary:
    runs-on: {% endraw %}{{ gha_linux_runner }}{% raw %}
    needs:
      - get-values
      - pre-commit
      - check-skip-duplicate
      - ephemeral-test
      - pulumi-staging
      - pulumi-prod
    permissions:
      statuses: write # needed for updating status on Dependabot PRs
    if: always()
    steps:
      - name: Show job status
        run: |
          echo ${{ needs.pulumi-staging.result }}
          echo ${{ needs.get-values.result }}
          echo ${{ needs.ephemeral-test.result }}
          echo ${{ needs.pulumi-prod.result }}
      - name: fail if prior job failure
        run: |
          success_pattern="^(skipped|success)$" # these are the possibilities: https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#needs-context

          if [[ ! "${{ needs.check-skip-duplicate.result }}" =~ $success_pattern ]] ||
            [[ ! "${{ needs.pre-commit.result }}" =~ $success_pattern ]] ||
            [[ ! "${{ needs.ephemeral-test.result }}" =~ $success_pattern ]] ||
            [[ ! "${{ needs.pulumi-staging.result }}" =~ $success_pattern ]] ||
            [[ ! "${{ needs.pulumi-prod.result }}" =~ $success_pattern ]]; then
            echo "❌ One or more jobs did not finish with skipped or success"
            exit 1
          fi
          echo "✅ All jobs finished with skipped or success"

      - name: Mark the required-check as succeeded so the PR can be merged
        if: ${{ github.event_name == 'pull_request' }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api \
            -X POST -H "Accept: application/vnd.github.v3+json" \
            "${{ github.event.pull_request.statuses_url }}" \
            -f state=success -f context="required-check" -f description="✅ All required checks passed in the job triggered by pull_request" \
            -f target_url="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

      - name: Mark updated dependabot hash commit as succeeded
        if: ${{ needs.get-values.outputs.dependabot-commit-created == 'true' && github.event_name == 'push' }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api \
            -X POST -H "Accept: application/vnd.github.v3+json" \
            "/repos/${{ github.repository }}/statuses/${{ needs.get-values.outputs.new-dependabot-sha }}" \
            -f state=success -f context="required-check" -f description="Initial CI run passed" \
            -f target_url="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"{% endraw %}
